In [1]:
import pandas as pd

In [2]:
import joblib

In [3]:
dados_prod = pd.read_csv('vinhos_prod.csv')

In [116]:
dados_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 13 columns):
Unnamed: 0              10 non-null int64
type                    10 non-null object
fixed acidity           10 non-null float64
volatile acidity        10 non-null float64
citric acid             10 non-null float64
residual sugar          10 non-null float64
chlorides               10 non-null float64
free sulfur dioxide     10 non-null float64
total sulfur dioxide    10 non-null float64
density                 10 non-null float64
pH                      10 non-null float64
sulphates               10 non-null float64
alcohol                 10 non-null object
dtypes: float64(10), int64(1), object(2)
memory usage: 1.1+ KB

In [118]:
x_columns = dados_prod.columns[1:]

In [121]:
# vinhos_prod = dados_prod.drop(columns=['Unnamed: 0'])
vinhos_prod = dados_prod.loc[:,x_columns]

In [120]:
vinhos_prod

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,White,6.6,0.350,0.26,2.7,0.045,19.0,129.0,0.98952,3.24,0.48,13
1,White,6.1,0.170,0.27,1.5,0.056,45.0,135.0,0.99240,3.20,0.43,10.2
2,White,6.3,0.200,0.24,1.7,0.052,36.0,135.0,0.99374,3.80,0.66,10.8
3,White,6.6,0.220,0.23,17.3,0.047,37.0,118.0,0.99906,3.08,0.46,8.8
4,Red,8.1,0.730,0.00,2.5,0.081,12.0,24.0,0.99798,3.38,0.46,9.6
5,White,9.1,0.590,0.38,1.6,0.066,34.0,182.0,0.99680,3.23,0.38,8.5
6,White,6.6,0.340,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,953.333.333.333.333
7,White,7.7,0.280,0.63,11.1,0.039,58.0,179.0,0.99790,3.08,0.44,8.8
8,Red,6.4,0.865,0.03,3.2,0.071,27.0,58.0,0.99500,3.61,0.49,12.7
9,Red,9.1,0.680,0.11,2.8,0.093,11.0,44.0,0.99888,3.31,0.55,9.5

In [134]:
vinhos_prod.type = [ 0 if t == 'White' else 1 for t in vinhos_prod.type]

In [135]:
vinhos_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
type                    10 non-null int64
fixed acidity           10 non-null float64
volatile acidity        10 non-null float64
citric acid             10 non-null float64
residual sugar          10 non-null float64
chlorides               10 non-null float64
free sulfur dioxide     10 non-null float64
total sulfur dioxide    10 non-null float64
density                 10 non-null float64
pH                      10 non-null float64
sulphates               10 non-null float64
alcohol                 10 non-null object
dtypes: float64(10), int64(1), object(1)
memory usage: 1.1+ KB

In [136]:
vinhos_prod_2 = vinhos_prod.copy()

In [137]:
def is_num(x):
    result = False
    try:
        float(x)
        result = True
    except ValueError:
        result = True
    return result

In [138]:
def to_float(x):
    result = 0.001
    try:
        result = float(x)
    except ValueError:
        result = float(result)
    return result

In [139]:
vinhos_prod_2.alcohol = [to_float(x) for x in vinhos_prod_2.alcohol]

In [140]:
vinhos_prod_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 12 columns):
type                    10 non-null int64
fixed acidity           10 non-null float64
volatile acidity        10 non-null float64
citric acid             10 non-null float64
residual sugar          10 non-null float64
chlorides               10 non-null float64
free sulfur dioxide     10 non-null float64
total sulfur dioxide    10 non-null float64
density                 10 non-null float64
pH                      10 non-null float64
sulphates               10 non-null float64
alcohol                 10 non-null float64
dtypes: float64(11), int64(1)
memory usage: 1.1 KB

In [141]:
dict_modelo = joblib.load('wine_quality.joblib')

In [142]:
modelo = dict_modelo['model']

In [143]:
modelo

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [144]:
previsao = modelo.predict(vinhos_prod_2)

In [145]:
vinhos_prod_3 = vinhos_prod_2.copy()

In [146]:
previsao

array([1, 1, 1, 1, 0, 0, 1, 0, 1, 1], dtype=int64)

In [147]:
previsao.__len__()

10

In [148]:
vinhos_prod_3 = vinhos_prod_3.assign(Quality=previsao)

In [149]:
vinhos_prod_3

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,Quality
0,0,6.6,0.350,0.26,2.7,0.045,19.0,129.0,0.98952,3.24,0.48,13.000,1
1,0,6.1,0.170,0.27,1.5,0.056,45.0,135.0,0.99240,3.20,0.43,10.200,1
2,0,6.3,0.200,0.24,1.7,0.052,36.0,135.0,0.99374,3.80,0.66,10.800,1
3,0,6.6,0.220,0.23,17.3,0.047,37.0,118.0,0.99906,3.08,0.46,8.800,1
4,1,8.1,0.730,0.00,2.5,0.081,12.0,24.0,0.99798,3.38,0.46,9.600,0
5,0,9.1,0.590,0.38,1.6,0.066,34.0,182.0,0.99680,3.23,0.38,8.500,0
6,0,6.6,0.340,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,0.001,1
7,0,7.7,0.280,0.63,11.1,0.039,58.0,179.0,0.99790,3.08,0.44,8.800,0
8,1,6.4,0.865,0.03,3.2,0.071,27.0,58.0,0.99500,3.61,0.49,12.700,1
9,1,9.1,0.680,0.11,2.8,0.093,11.0,44.0,0.99888,3.31,0.55,9.500,1

In [107]:
l = list(range(10))

In [108]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
values = list(vinhos_prod_2.alcohol)

In [110]:
sum(values) / len(values)

9.1901

In [151]:
vinhos_prod_3.to_csv('vinhos_resultado.csv', index=False)