In [9]:
import joblib

In [12]:
dados = pd.read_csv('tempo_jogo_prod.csv')

In [13]:
dados

    Outlook  Temperature Temperature.1  Humidity Humidity.1  Windy Play
0     sunny           85           hot        85       high  False   no
1     rainy           70          mild        96       high  False  yes
2     rainy           71          mild        91       high   True   no
3  overcast           72          mild        90       high   True  yes
4     sunny           80           hot        90       high   True   no

In [14]:
sub_dados = dados.copy()

In [15]:
sub_dados

    Outlook  Temperature Temperature.1  Humidity Humidity.1  Windy Play
0     sunny           85           hot        85       high  False   no
1     rainy           70          mild        96       high  False  yes
2     rainy           71          mild        91       high   True   no
3  overcast           72          mild        90       high   True  yes
4     sunny           80           hot        90       high   True   no

In [21]:
## Transformar os dados
dict_outlook = {'overcast': 0, 'rainy': 1, 'sunny': 2}
for i in range(0, len(sub_dados)):
    sub_dados.loc[i, 'Outlook'] = dict_outlook[sub_dados.loc[i, 'Outlook']]

In [48]:
for i in range(0, len(sub_dados)):
    if sub_dados.loc[i, 'Play'] == 'yes':
        sub_dados.loc[i, 'Play'] = 1
    else:
        sub_dados.loc[i, 'Play'] = 0

In [24]:
dict_temperature_1 = {'cool':0, 'hot': 1, 'mild': 2}
dict_humidity = {'high': 0, 'normal': 1}
for i in range(0, len(sub_dados)):
    sub_dados.loc[i, 'Temperature.1'] = dict_temperature_1[sub_dados.loc[i, 'Temperature.1']]
    sub_dados.loc[i, 'Humidity.1'] = dict_humidity[sub_dados.loc[i, 'Humidity.1']]

In [49]:
sub_dados

   Outlook  Temperature  Temperature.1  Humidity  Humidity.1  Windy  Play
0        2           85              1        85           0  False     0
1        1           70              2        96           0  False     1
2        1           71              2        91           0   True     0
3        0           72              2        90           0   True     1
4        2           80              1        90           0   True     0

In [50]:
x = sub_dados.loc[:,['Outlook', 'Temperature', 'Humidity', 'Windy']]
x

   Outlook  Temperature  Humidity  Windy
0        2           85        85  False
1        1           70        96  False
2        1           71        91   True
3        0           72        90   True
4        2           80        90   True

In [51]:
y = sub_dados.loc[:,'Play']
y

0    0
1    1
2    0
3    1
4    0
Name: Play, dtype: int64

In [52]:
import joblib

In [53]:
load_modelo = joblib.load('arvore_decisao.joblib')
load_modelo

{'model': DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                        max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort=False,
                        random_state=42, splitter='best'),
 'metadata': {'description': 'Arvore de decisão',
  'author': 'Bleno S.',
  'date': '2020-02-04',
  'source_code_version': '0.1',
  'tratamento_dados': 'Transfomado os valores de text para boolean ou numeros'}}

In [54]:
modelo = load_modelo['model']

In [55]:
previsao = modelo.predict(x)

In [69]:
previsao

array([1, 1, 0, 1, 0], dtype=int64)

In [72]:
previsao.__len__()

5

In [57]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score

In [64]:
confusion_matrix(y_true=y, y_pred=previsao)

array([[2, 1],
       [0, 2]], dtype=int64)

In [65]:
accuracy_score(y_true=y, y_pred=previsao)

0.8

In [66]:
recall_score(y_true=y, y_pred=previsao)

1.0

In [67]:
precision_score(y_true=y, y_pred=previsao)

0.6666666666666666

In [68]:
f1_score(y_true=y, y_pred=previsao)

0.8