In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('tempo_jogo.csv', sep=';')

In [3]:
dados

     Outlook  Temperature Temperature.1  Humidity Humidity.1  Windy Play
0   overcast           83           hot        86       high  False  yes
1   overcast           64          cool        65     normal   True  yes
2   overcast           72          mild        90       high   True  yes
3   overcast           81           hot        75     normal  False  yes
4      rainy           70          mild        96       high  False  yes
5      rainy           68          cool        80     normal  False  yes
6      rainy           65          cool        70     normal   True   no
7      rainy           75          mild        80     normal  False  yes
8      rainy           71          mild        91       high   True   no
9      sunny           85           hot        85       high  False   no
10     sunny           80           hot        90       high   True   no
11     sunny           72          mild        95       high  False   no
12     sunny           69          cool        70     normal  False  yes
13     sunny           75          mild        70     normal   True  yes

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
Outlook          14 non-null object
Temperature      14 non-null int64
Temperature.1    14 non-null object
Humidity         14 non-null int64
Humidity.1       14 non-null object
Windy            14 non-null bool
Play             14 non-null object
dtypes: bool(1), int64(2), object(4)
memory usage: 814.0+ bytes

In [5]:
dados.Outlook.unique()

array(['overcast', 'rainy', 'sunny'], dtype=object)

In [6]:
sub_dados = dados.copy()

In [7]:
dict_outlook = {'overcast': 0, 'rainy': 1, 'sunny': 2}
for i in range(0, len(sub_dados)):
    sub_dados.loc[i, 'Outlook'] = dict_outlook[sub_dados.loc[i, 'Outlook']]

In [8]:
for i in range(0, len(sub_dados)):
    if sub_dados.loc[i, 'Play'] == 'yes':
        sub_dados.loc[i, 'Play'] = 1
    else:
        sub_dados.loc[i, 'Play'] = 0

In [9]:
sub_dados

    Outlook  Temperature Temperature.1  Humidity Humidity.1  Windy  Play
0         0           83           hot        86       high  False     1
1         0           64          cool        65     normal   True     1
2         0           72          mild        90       high   True     1
3         0           81           hot        75     normal  False     1
4         1           70          mild        96       high  False     1
5         1           68          cool        80     normal  False     1
6         1           65          cool        70     normal   True     0
7         1           75          mild        80     normal  False     1
8         1           71          mild        91       high   True     0
9         2           85           hot        85       high  False     0
10        2           80           hot        90       high   True     0
11        2           72          mild        95       high  False     0
12        2           69          cool        70     normal  False     1
13        2           75          mild        70     normal   True     1

In [10]:
x = sub_dados.loc[:,['Outlook', 'Temperature', 'Humidity', 'Windy']]
x

    Outlook  Temperature  Humidity  Windy
0         0           83        86  False
1         0           64        65   True
2         0           72        90   True
3         0           81        75  False
4         1           70        96  False
5         1           68        80  False
6         1           65        70   True
7         1           75        80  False
8         1           71        91   True
9         2           85        85  False
10        2           80        90   True
11        2           72        95  False
12        2           69        70  False
13        2           75        70   True

In [23]:
y = sub_dados.loc[:,['Play']]
y

    Play
0      1
1      1
2      1
3      1
4      1
5      1
6      0
7      1
8      0
9      0
10     0
11     0
12     1
13     1

In [24]:
sub_dados.sample(5)

    Outlook  Temperature Temperature.1  Humidity Humidity.1  Windy  Play
13        2           75          mild        70     normal   True     1
8         1           71          mild        91       high   True     0
6         1           65          cool        70     normal   True     0
2         0           72          mild        90       high   True     1
3         0           81           hot        75     normal  False     1

In [13]:
from sklearn.model_selection import train_test_split

In [25]:
x_treino, x_test, y_treino, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [27]:
x_treino.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 8 to 6
Data columns (total 4 columns):
Outlook        9 non-null int64
Temperature    9 non-null int64
Humidity       9 non-null int64
Windy          9 non-null bool
dtypes: bool(1), int64(3)
memory usage: 297.0 bytes

In [28]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 9 to 5
Data columns (total 4 columns):
Outlook        5 non-null int64
Temperature    5 non-null int64
Humidity       5 non-null int64
Windy          5 non-null bool
dtypes: bool(1), int64(3)
memory usage: 165.0 bytes

In [34]:
x_treino

    Outlook  Temperature  Humidity  Windy
8         1           71        91   True
2         0           72        90   True
1         0           64        65   True
13        2           75        70   True
4         1           70        96  False
7         1           75        80  False
10        2           80        90   True
3         0           81        75  False
6         1           65        70   True

In [30]:
y_treino

    Play
8      0
2      1
1      1
13     1
4      1
7      1
10     0
3      1
6      0

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt = DecisionTreeClassifier(x, y)

In [32]:
dt

DecisionTreeClassifier(class_weight=None,
                       criterion=    Outlook  Temperature  Humidity  Windy
0         0           83        86  False
1         0           64        65   True
2         0           72        90   True
3         0           81        75  False
4         1           70        96  False
5         1           68        80  False
6         1           65        70   True
7         1           75        80  False
8         1           71        91   True
9         2           85        85  False
10        2           80        90   True
11        2           72        95  False
12        2           69        70  False
13        2           75        70   True,
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None,
                       splitter=    Play
0      1
1      1
2      1
3      1
4      1
5      1
6      0
7      1
8      0
9      0
10     0
11     0
12     1
13     1)

In [33]:
dt.fit(x_treino, y_treino)

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed