In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('tempo_jogo.csv', sep=';')

In [3]:
dados

     Outlook  Temperature Temperature.1  Humidity Humidity.1  Windy Play
0   overcast           83           hot        86       high  False  yes
1   overcast           64          cool        65     normal   True  yes
2   overcast           72          mild        90       high   True  yes
3   overcast           81           hot        75     normal  False  yes
4      rainy           70          mild        96       high  False  yes
5      rainy           68          cool        80     normal  False  yes
6      rainy           65          cool        70     normal   True   no
7      rainy           75          mild        80     normal  False  yes
8      rainy           71          mild        91       high   True   no
9      sunny           85           hot        85       high  False   no
10     sunny           80           hot        90       high   True   no
11     sunny           72          mild        95       high  False   no
12     sunny           69          cool        70     normal  False  yes
13     sunny           75          mild        70     normal   True  yes

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
Outlook          14 non-null object
Temperature      14 non-null int64
Temperature.1    14 non-null object
Humidity         14 non-null int64
Humidity.1       14 non-null object
Windy            14 non-null bool
Play             14 non-null object
dtypes: bool(1), int64(2), object(4)
memory usage: 814.0+ bytes

In [5]:
dados.Outlook.unique()

array(['overcast', 'rainy', 'sunny'], dtype=object)

In [6]:
sub_dados = dados.copy()

In [7]:
dict_outlook = {'overcast': 0, 'rainy': 1, 'sunny': 2}
for i in range(0, len(sub_dados)):
    sub_dados.loc[i, 'Outlook'] = dict_outlook[sub_dados.loc[i, 'Outlook']]

In [8]:
for i in range(0, len(sub_dados)):
    if sub_dados.loc[i, 'Play'] == 'yes':
        sub_dados.loc[i, 'Play'] = 1
    else:
        sub_dados.loc[i, 'Play'] = 0

In [9]:
dict_temperature_1 = {'cool':0, 'hot': 1, 'mild': 2}
dict_humidity = {'high': 0, 'normal': 1}

In [10]:
for i in range(0, len(sub_dados)):
    sub_dados.loc[i, 'Temperature.1'] = dict_temperature_1[sub_dados.loc[i, 'Temperature.1']]
    sub_dados.loc[i, 'Humidity.1'] = dict_humidity[sub_dados.loc[i, 'Humidity.1']]

In [11]:
sub_dados

    Outlook  Temperature  Temperature.1  Humidity  Humidity.1  Windy  Play
0         0           83              1        86           0  False     1
1         0           64              0        65           1   True     1
2         0           72              2        90           0   True     1
3         0           81              1        75           1  False     1
4         1           70              2        96           0  False     1
5         1           68              0        80           1  False     1
6         1           65              0        70           1   True     0
7         1           75              2        80           1  False     1
8         1           71              2        91           0   True     0
9         2           85              1        85           0  False     0
10        2           80              1        90           0   True     0
11        2           72              2        95           0  False     0
12        2           69              0        70           1  False     1
13        2           75              2        70           1   True     1

In [12]:
x = sub_dados.loc[:,['Outlook', 'Temperature', 'Humidity', 'Windy']]
x

    Outlook  Temperature  Humidity  Windy
0         0           83        86  False
1         0           64        65   True
2         0           72        90   True
3         0           81        75  False
4         1           70        96  False
5         1           68        80  False
6         1           65        70   True
7         1           75        80  False
8         1           71        91   True
9         2           85        85  False
10        2           80        90   True
11        2           72        95  False
12        2           69        70  False
13        2           75        70   True

In [13]:
y = sub_dados.loc[:,'Play']
y

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     1
8     0
9     0
10    0
11    0
12    1
13    1
Name: Play, dtype: int64

In [14]:
sub_dados.sample(5)

    Outlook  Temperature  Temperature.1  Humidity  Humidity.1  Windy  Play
6         1           65              0        70           1   True     0
2         0           72              2        90           0   True     1
0         0           83              1        86           0  False     1
9         2           85              1        85           0  False     0
12        2           69              0        70           1  False     1

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_treino, x_test, y_treino, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [17]:
x_treino.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 8 to 6
Data columns (total 4 columns):
Outlook        9 non-null int64
Temperature    9 non-null int64
Humidity       9 non-null int64
Windy          9 non-null bool
dtypes: bool(1), int64(3)
memory usage: 297.0 bytes

In [18]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 9 to 5
Data columns (total 4 columns):
Outlook        5 non-null int64
Temperature    5 non-null int64
Humidity       5 non-null int64
Windy          5 non-null bool
dtypes: bool(1), int64(3)
memory usage: 165.0 bytes

In [19]:
x_treino

    Outlook  Temperature  Humidity  Windy
8         1           71        91   True
2         0           72        90   True
1         0           64        65   True
13        2           75        70   True
4         1           70        96  False
7         1           75        80  False
10        2           80        90   True
3         0           81        75  False
6         1           65        70   True

In [20]:
x_test

    Outlook  Temperature  Humidity  Windy
9         2           85        85  False
11        2           72        95  False
0         0           83        86  False
12        2           69        70  False
5         1           68        80  False

In [21]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
dt = DecisionTreeClassifier(random_state=42)

In [34]:
dt

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [35]:
dt.fit(x_treino, y_treino)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [36]:
previsao = dt.predict(x_test)

In [37]:
previsao

array([1, 1, 1, 1, 1], dtype=int64)

In [38]:
print('Y-Previsao')
for i in zip(y_test, previsao):
    print(i)

Y-Previsao
(0, 1)
(0, 1)
(1, 1)
(1, 1)
(1, 1)

In [39]:
y_treino.value_counts()

1    6
0    3
Name: Play, dtype: int64

In [59]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score

In [55]:
confusion_matrix(y_true=y_test, y_pred=previsao)

array([[0, 2],
       [0, 3]], dtype=int64)

In [56]:
accuracy_score(y_true=y_test, y_pred=previsao)

0.6

In [57]:
recall_score(y_true=y_test, y_pred=previsao)

1.0

In [58]:
precision_score(y_true=y_test, y_pred=previsao)

0.6

In [61]:
round(f1_score(y_true=y_test, y_pred=previsao), 2)

0.75

In [62]:
import joblib

In [63]:
dic_save_model = dict({
    'model': dt,
    'metadata': {
        'description': 'Arvore de decisão',
        'author': 'Bleno S.',
        'date': '2020-02-04',
        'source_code_version': '0.1',
        'tratamento_dados': 'Transfomado os valores de text para boolean ou numeros'
    }
})

In [64]:
dt

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=42, splitter='best')

In [65]:
joblib.dump(dic_save_model, 'arvore_decisao.joblib')

['arvore_decisao.joblib']