In [1]:
import joblib

In [2]:
load_model = joblib.load('cluster_kmeans.joblib')

In [3]:
modelo_prod = load_model['model']

In [4]:
modelo_prod

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=11, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [5]:
import pandas as pd

In [6]:
filmes_prod = pd.read_csv('filmes_producao.csv')

In [7]:
generos = filmes_prod.genres.str.get_dummies()

In [54]:
generos.to_csv('generos_matriz.csv', index=False)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
norm_fit = StandardScaler(copy=True, with_mean=True, with_std=True)

In [10]:
generos_normalizados = norm_fit.fit_transform(generos)

In [11]:
modelo_prod.predict(generos_normalizados)

ValueError: Incorrect number of features. Got 14 features, expected 20

In [55]:
generos

,Action,Adventure,Animation,Children,Comedy,Crime,Drama,Fantasy,Horror,Musical,Romance,Sci-Fi,Thriller,War
0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
1,1,1,0,0,0,0,1,0,0,0,0,0,0,1
2,1,0,0,0,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,1,0,0,1,1,0
5,0,0,0,0,1,0,1,0,0,0,1,0,0,0
6,0,0,0,1,0,0,0,0,0,1,0,0,0,0
7,0,1,0,1,1,0,0,1,0,0,0,0,0,0
8,0,1,1,0,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,1,0,0,0,1,0,0,0,1,0

In [56]:
matriz_generos = pd.read_csv('generos_matriz.csv', )

In [57]:
matriz_generos

,Action,Adventure,Animation,Children,Comedy,Crime,Drama,Fantasy,Horror,Musical,Romance,Sci-Fi,Thriller,War
0,0,0,0,0,0,0,1,0,0,0,0,0,1,0
1,1,1,0,0,0,0,1,0,0,0,0,0,0,1
2,1,0,0,0,0,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,1,0,0,1,1,0
5,0,0,0,0,1,0,1,0,0,0,1,0,0,0
6,0,0,0,1,0,0,0,0,0,1,0,0,0,0
7,0,1,0,1,1,0,0,1,0,0,0,0,0,0
8,0,1,1,0,1,0,0,0,0,0,0,0,0,0
9,0,0,0,0,1,0,0,0,1,0,0,0,1,0

In [58]:
import numpy as np

In [62]:
matriz = np.zeros((len(filmes_prod), len(matriz_generos.columns)), dtype=int)

In [63]:
matriz

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [64]:
nova_matriz = pd.DataFrame(matriz, columns = matriz_generos.columns)

In [65]:
nova_matriz

,Action,Adventure,Animation,Children,Comedy,Crime,Drama,Fantasy,Horror,Musical,Romance,Sci-Fi,Thriller,War
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [68]:
for i in range(0, len(filmes_prod)):
    print('filme: ', i)
    # colunas = filmes_prod.iloco[]

filme:  0
filme:  1
filme:  2
filme:  3
filme:  4
filme:  5
filme:  6
filme:  7
filme:  8
filme:  9